    .login {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 500px;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    }

    .box  {
        justify-content: center;
    }
     .box h1{
        font-size: 30pt;
        padding: 19px 30px;
     }
    .box input {
        justify-content: space-between;
        padding: 15px 10px;
        border:none;
        outline: none;
        margin:13px;
        font-size: 17pt;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .password,
    .email {
        margin-left: 10px;
        display: flex;
        justify-content: space-between;
        font-size: 15pt;
    }

    .centered {
        margin:120px 45px;
    }
    .login-adjust{
        text-align: center;
    }
